config/dev.yml
config/private.yml
releases/*.tgz
releases/**/*.tgz
dev_releases
.blobs
blobs
.dev_builds
.idea
.DS_Store
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
*~
*#
#*

src/github.com/daniellavoie/bosh-scaleway-cpi/vendor
src/github.com/daniellavoie/bosh-scaleway-cpi/Gopkg.lock

.vagrant/
tmp

bat.spec

/pkg
/bin

.hg
.bzr

*\.test
*.coverprofile
*.sublime-workspace
